@using WebApp.Globalization.Views
@{
    Layout = null;
}
<div class="page-popup-generar-periodo">
    <div class="form-group">
        <label for="cbx-periodo-activo" class="control-label">@AccountStrings.LabelSeleccionarPeriodoActivo:</label>
        <select id="cbx-periodo-activo"></select>
    </div>
    <div class="form-group">
        <label for="txt-nombre-subcuenta-periodo" class="control-label">@AccountStrings.LabelNombreSubCuentaPeriodo:</label>
        <input id="txt-nombre-subcuenta-periodo" type="text" class="form-control">
    </div>
</div>