@using WebApp.Globalization.Views
@{
    Layout = null;
}
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="cbx-estudio" class="control-label col-md-2">@AccountStrings.TextEstudio</label>
                <div class="col-md-8">
                    <select id="cbx-estudio"></select>
                </div>
            </div>
        </div>
    </div>
</div>