@using WebApp.Globalization.Views
@{
    Layout = null;
}
<div class="page-popup-account-periodo">
    <div class="form-group">
        <label for="cbx-account-generate" class="control-label">@CourseStrings.LabelSeleccioneAccountPeriodo:</label>
        <select id="cbx-account-generate"></select>
    </div>
</div>