@using WebApp.Globalization.Views
@{
    Layout = null;
}
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="cbx-asignatura" class="control-label col-md-2">@AccountStrings.TextAsignatura</label>
                <div class="col-md-8">
                    <select id="cbx-asignatura"></select>
                </div>
            </div>
        </div>
    </div>
</div>