<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <!--Cambiar la Cadena de Conexión. Establecer en PRE (*Por el momento no hay*)-->
  <connectionStrings>
    <add name="canvas"
      connectionString="Data Source=canvaslti-mssql.cwq1ys9wc8db.eu-west-1.rds.amazonaws.com;Initial Catalog=canvas_migrador_pro;Integrated Security=false;User ID=canvas_migrador;Password=85mc7A8xcn!0;MultipleActiveResultSets=True;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="KEY_LTI_PUBLIC" value="12345678900" />
    <add key="KEY_LTI_PRIVATE" value="98765432100" />
    <add key="RecursosVista" value="https://recursos.unir.net/1.5/" />
    <add key="RegistrosPorPagina" value="10|25|50|100" />
    <add key="Build" value="Build R01.S02.0 | Fecha 07-06-2017" />
    <add key="TokenCanvas" value="4410~Sm1u549irdiMPuYtACzAH9vBnTio6SaXpkOWffcOrkGCynocJiX6bXBgETgmVKps" />
    <add key="UrlCanvas" value="https://unir.test.instructure.com/" />
    <add key="TimeMinutesWsGestor" value="10" />
    <add key="DefaultCulture" value="es" />
    <add key="FormatDate" value="dd/MM/yyyy"/>
    <add key="AccountRoot" value="1"/>
  </appSettings>
  <!--Configuración del Servicio de Almacenamiento en Caché-->
  <dataCacheManager impl="DataCacheServices.AppDataCache.RedisDataCacheService, DataCacheServices" applicationPrefix="canvas-migrador-pro"  xdt:Transform="Replace">
    <extraParams>
      <add name="host" value="canvas-lti-redis.brbupy.0001.euw1.cache.amazonaws.com" />
      <add name="port" value="6379" />
      <add name="serializationFormat" value="JSON" />
      <add name="RefreshTimeout" value="600" />
    </extraParams>
  </dataCacheManager>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>